html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  margin-top: (-$gap / 2);

  font-family: $font-header;
  font-size: 3rem;
}

h2 {
  margin: ($gap * 4) 0 ($gap *3) ($gap *3);

  font-family: $font-header;
  font-size: 2.5rem;
}

h4 {
  color: $color-light;
}
