.footer {
  padding-top: $gap * 3;

  background-color: $color-dark;



  ul {
    padding-left: 0;

    list-style: none;
  }


  a {
    color: darken($color-gray, 40%);
    background-color: transparent;



    &:hover {
      color: $color-light;
    }
  }

  &-fifth {
    margin-top: $gap / 3 * 4;
    margin-bottom: $gap / 3 * 4;

    text-align: center;
    a {
      color: $color-light;
    }
  }
}
