.footer {
  padding-top: $gap * 3;
  background-color: $color-dark;
  margin-top: -$gap / 3 * 4;
  

  ul {
    list-style: none;
    padding-left: 0;
    
  }

  li {
    
    
  }

  a {
    background-color: transparent;
    color: #777777;
    
  }

  &-fifth {
    text-align: center;
    margin-top: $gap / 3 * 4;
    margin-bottom: $gap / 3 * 4;
    a {
      color: $color-light;
    
    }
  }
   
}