.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.navbar-inverse {
  margin-bottom: 0;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  margin-bottom: 30px;
  border: none;
  background-color: #e6e6e6;
}

.panel-info > .panel-heading {
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  background-color: #df8a13;
  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  margin-top: -7.5px;
  font-family: "PT Serif", serif;
  font-size: 3rem;
}

h2 {
  margin: 60px 0 45px 45px;
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
}

h4 {
  color: #ffffff;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films {
  position: relative;
  overflow: hidden;
}

.new-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.new-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.new-films-item__thumbnail:hover, .new-films-item__thumbnail:focus {
  background-color: #df8a13;
  border-color: #df8a13;
}

.new-films-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.new-films-item__image {
  width: 100%;
}

.new-films h1 {
  margin-bottom: 45px;
}

.new-films h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.new-films h3 {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.new-films-item:hover .new-films-item__thumbnail h3 {
  color: #ffffff;
}

.top-films {
  position: relative;
  overflow: hidden;
}

.top-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.top-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.top-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.top-films-item__thumbnail:hover, .top-films-item__thumbnail:focus {
  background-color: #df8a13;
  border-color: #df8a13;
}

.top-films-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.top-films-item__image {
  width: 100%;
}

.top-films h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.top-films h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.top-films h3 {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.top-films-item:hover .top-films-item__thumbnail h3 {
  color: #ffffff;
}

.film-news {
  position: relative;
  overflow: hidden;
}

.film-news-item {
  margin-bottom: 20px;
}

.film-news-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.film-news-item__thumbnail:hover {
  background-color: #df8a13;
}

.film-news-item__button {
  float: right;
  margin-bottom: 30px;
}

.film-news-item__text {
  text-align: justify;
}

.film-news h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-news h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.film-news-item:hover .film-news-item__thumbnail h3 {
  color: #df8a13;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #dddddd;
  padding: 14px 5px 11px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  clear: both;
  position: relative;
}

.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  font-size: 0.8rem;
  text-align: right;
  color: #909090;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  margin-left: -1px;
  margin-right: -1px;
  padding-right: 55px;
  background-color: transparent;
  color: #165690 !important;
}

.top-films__item:first-of-type {
  border-top: none;
  border-radius: 0;
}

.top-films__item:last-of-type {
  border-bottom: none;
  border-radius: 0;
}

.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  padding-top: 45px;
  background-color: #232323;
  margin-top: -20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer a {
  background-color: transparent;
  color: #777777;
}

.footer-fifth {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-fifth a {
  color: #ffffff;
}

@media (min-width: 576px) {
  .header-logo__title {
    margin-right: -0.2777em;
    letter-spacing: 0.33em;
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-bottom: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
}
